*{
	color : #f9f777;
	background-color:black;
}
#container{
	display:flex;
	justify-content: space-around;
}
main{
	width:75%;
}
section{
	min-width:300px;
	width:300px;
}
#primaryTab{
	display:flex;
	flex-wrap:wrap;
	margin:10px;
	justify-content: space-between;
}
#primaryTab > div{
	width:25%;
	margin-top: 10px;
}
button{
	display: inline-block;
	padding:5px;
	width : 200px;
}
img{
	width : 75px;
	height: 75px;
}
.inactive{
	opacity: 0.5;
	transition: opacity 0.25s;
}
.active{
	opacity: 1;
	transition: opacity 0.25s;
}
#otherTab{
	display:flex;
	margin-top: 10px;
	width:100%;
	justify-content: space-around;
}
#otherTab > div{
	border: 3px solid #f9f777;
	display:flex;
	flex-direction:column;
	padding:10px;
	margin:10px;
	width:33%;
}
#buttonDiv{
	display:flex;
	margin-top: 10px;
	width:100%;
	justify-content: center;
	align-items: center;
	flex-wrap:wrap;
}
#buttonDiv > *{
	margin : 15px;
}

#buttonDiv > div{
	display: flex;
	width:100%;
	justify-content: center;
	align-items: center;
}
#buttonDiv > div > label{
	margin : 10px;
}
#resultDiv{
	display:flex;
	margin-top: 10px;
	width:100%;
	flex-wrap:wrap;
	justify-content: space-around;
	border: 5px solid #f9f777;
	padding:10px;
	margin:5px;
	box-sizing: border-box;
}
#othRes{
	display: flex;
	flex-direction: column;
}
#resStratagems{
	display: flex;
	justify-content: center;
	align-items: center;
}
#resStratagems > div{
	border: 3px solid #f9f777;
	width : 75px;
	height: 75px;
	margin: 5px;
}
h1{
	width:100%;
	text-align:center;
}
h5{
	width:100%;
	text-align:center;
}
#stratList{
	display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
}
.classicFlex{
	width:100%;
	display: flex;
	justify-items: center;
	justify-content: space-evenly;
}
.activeTab{
	background-color: #2475bb;
	transition: background-color 0.25s
}
.inactiveTab{
	background-color: black;
	transition: background-color 0.25s
}
#options{
	margin-top:10px;
	display: flex;
	flex-wrap: wrap;
	justify-items: center;
	justify-content: space-evenly;
}

#options > div{
	border: 3px solid #f9f777;
	padding: 10px;
	margin: 5px 0;
	width:100%;
	display : flex;
	flex-direction:column;
}
label{
	margin:5px;
	text-align:center;
}